
<!DOCTYPE html>
<html>
{% load static %}
<head>
	<link rel="shortcut icon" href="{% static 'images1/logo-black-and-white.png' %}" type="">
<title>BookMyTurf Update</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Sign Up Form Responsive Widget Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="{% static 'register/css/style2lab.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'register/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- //css files -->
<!-- online-fonts -->
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'><link href='//fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
</head>
<body>
<a href="userpro" class="">&laquo; Back</a>
<!--header-->
	<div class="header-w3l">
		<h1></h1>
	</div>
<!--//header-->
<!--main-->
<br><br><br>
<div class="main-agileits">
	<h2 class="sub-head">Username Update</h2>
		<div class="sub-main">
			<form action="usrnmup" method="POST">
                {% csrf_token %}
                <input placeholder=" Enter old username" name="n1" class="name" type="text" required="">
				<input placeholder=" Enter new username" name="n2" class="name" type="text" required="">
				<input type="submit" value="UPDATE" class="btn btn-defeault btn-send"  onclick="return confirm('Are You Sure')">
			</form>
		</div>
		<div class="clear"></div>
</div>

<div class="footer-w3">
	<p><a href="http://w3layouts.com"></a></p>
</div>
	{% for i in messages %}
						<h4>{{i}}</h4>
					{% endfor %}

</body>
</html>




